server {
    listen 80;
    listen 443 ssl;
    server_name {{web_server_name}};
    error_log {{web_error_log}};

    ssl_certificate {{web_ssl_cert}};
    ssl_certificate_key {{web_ssl_key}};

    location / {
      proxy_pass http://0.0.0.0:{{web_port}};
      proxy_redirect off;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto https;
      proxy_cache_bypass $http_upgrade;
  }
}